- name: Install  required Packages for Nexus
  apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present
    
- name: Create Nexus Docker volume
  docker_volume:
        name: nexus-data

- name: Run Nexus container
  docker_container:
        name: nexus
        image: sonatype/nexus3
        state: started
        restart_policy: unless-stopped
        published_ports:
          - "8081:8081"
        volumes:
          - nexus-data:/nexus-data
  notify: Install Nexus