- name: Remove existing Node.js
  apt:
      name: nodejs
      state: absent
      purge: yes

- name: Install dependencies for Node.js
  apt:
        name:
          - curl
          - build-essential
          - libssl-dev
        state: present

 
- name: Install prerequisites
  apt:
        name:
          - software-properties-common
          - gnupg
          - ca-certificates
        state: present

- name: Download NVM install script
  get_url:
      url: "https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh"
      dest: "/tmp/install_nvm.sh"
      mode: '0755'

- name: Install NVM
  shell: bash /tmp/install_nvm.sh
  args:
          creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: Install Node.js
  shell: |
        export NVM_DIR="$HOME/.nvm"
        . "$NVM_DIR/nvm.sh"
         nvm install {{ node_version }}
        nvm alias default {{ node_version }}
  args:
      executable: /bin/bash
  notify: Install NODEJS Done