 - name: Install required packages for OSWAP
 
   apt:
        name:
          - wget
          - unzip
        state: present
      

 - name: Create install directory
   file:
        path: "{{ install_dir }}"
        state: directory
        mode: '0755'

 - name: Download Dependency-Check
   get_url:
        url: "https://github.com/jeremylong/DependencyCheck/releases/download/v{{ depcheck_version }}/dependency-check-{{ depcheck_version }}-release.zip"
        dest: "/tmp/dependency-check.zip"
        mode: '0644'

 - name: Unzip Dependency-Check
   unarchive:
        src: "/tmp/dependency-check.zip"
        dest: "{{ install_dir }}"
        remote_src: yes

    
 - name: Create symlink so command works globally(to work without passing the full path)
   file:
        src: "{{ install_dir }}/dependency-check/bin/dependency-check.sh"
        dest: /usr/local/bin/dependency-check
        state: link
   notify: Install OWASP